/* ... previous CSS unchanged ... */
.button {
  background-color: #219653;
  height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
  font-family: 'Muli', sans-serif;
  color: white;
  font-weight: 300;
  border-radius: 12px;
}
